[Desktop Entry]
Type=Application
Name=TruckDash (ETS2)
Comment=TruckDash for Euro Truck Simulator 2
Exec=env STEAM_COMPAT_DATA_PATH="/home/youruser/.steam/steam/steamapps/compatdata/227300" STEAM_COMPAT_CLIENT_INSTALL_PATH="/home/youruser/.local/share/Steam" "/home/youruser/.local/share/Steam/compatibilitytools.d/Proton-GE Latest/proton" run "/home/youruser/truckdash/TruckDash.exe"
Terminal=false
Categories=Game;
Terminal=false
Categories=Game;Utility;
Icon=
StartupNotify=false
